.Contador {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.buttonContainer {
    display: flex;
    gap: 15px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 20px;
    animation: mudarCor 3s infinite;
    cursor: pointer;
}

.buttonDecrement {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 20px;
    animation: mudarCorAzul 3s infinite;
    cursor: pointer;
}

@keyframes mudarCor {
    0% {
        background-color: #ff0000;
    }
    25% {
        background-color: #ff7300;
    }
    50% {
        background-color: #00ff00;
    }
    75% {
        background-color: #007bff;
    }
    100% {
        background-color: #ff0000;
    }
}

@keyframes mudarCorAzul {
    0% {
        background-color: #0078ff;
    }
    25% {
        background-color: #00ccff;
    }
    50% {
        background-color: #7700ff;
    }
    75% {
        background-color: #c300ff;
    }
    100% {
        background-color: #0078ff;
    }
}