.containerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  max-width: 124rem;
  gap: 3rem;
  padding: 2rem;
}

.containerListas {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid #f00;
  height: 50vh;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
  overflow-y: auto;
  gap: 1rem;
}
